@model IEnumerable<ToDoList.Models.ToDo>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.IsCompleted,
                     new
                     {
                         @class = "task-checkbox",
                         data_id = item.Id
                     })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            <a class="btn btn-secondary" role="button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-secondary" role="button" asp-action="Details" asp-route-id="@item.Id">Details</a>
            <a class="btn btn-secondary" role="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}